useDynLib(fastMR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, setNames)
importFrom(utils, read.table)
importFrom(utils, write.table)
export(fast_mr)
export(fast_mr_grid)
export(fast_mr_heterogeneity)
export(fast_mr_pleiotropy_test)
export(fast_mr_singlesnp)
export(fast_mr_leaveoneout)
export(fast_mr_steiger)
export(fast_mr_directionality_test)
export(fast_mr_steiger_filtering)
export(fast_mr_parquet)
export(fast_read_parquet)
export(fast_mr_multivariable_ivw)
export(fast_harmonise_data)
export(fast_clump_data)
export(fastmr_method_registry)
